@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#F2EBE9, #d9ac9cda);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(163, 129, 117);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F29F05;
    text-align: center;
    text-shadow: 1px 1px 2px #7a500375;
}

h2{
    color: #024873;
}

p{
    text-align: justify;
}